  //Button
  $bg-color: #C2F9EE;
  $main-color:#C784B3;
  $secondary-color:#55C0AA;

  .button-cover {
      height: 100px;
      margin: 20px;
      background-color: #fff;
      box-shadow: 0 10px 20px -8px #c5d6d6;
      border-radius: 4px;
  }
  
  .button-cover:before
  {
      counter-increment: button-counter;
      content: counter(button-counter);
      position: absolute;
      right: 0;
      bottom: 0;
      color: #d7e3e3;
      font-size: 12px;
      line-height: 1;
      padding: 5px;
  }
  
  .button-cover, .knobs, .layer
  {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  .button
  {
      position: relative;
      top: 50%;
      width: 150px;
      height: 54px;
      margin: 20px auto 0 auto;
      overflow: hidden;
  }
  
  .button.r, .button.r .layer
  {
      border-radius: 100px;
  }
  
  .button
  {
      border-radius: 2px;
      position: absolute;
      top: 0.2rem;
      right: 2.5rem;
  }
  
  .checkbox
  {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
  }
  
  .knobs
  {
      z-index: 2;
  }
  
  .layer
  {
      width: 100%;
      background-color: #ebf7fc;
      transition: 0.3s ease all;
      z-index: 1;
  }
  
  #button-toggle .knobs:before, #button-toggle .knobs:after, #button-toggle .knobs span, #button-toggle .knobs span:before, #button-toggle .knobs span:after
{
    position: absolute;
    top: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-toggle .knobs:before
{
    content: 'TRAIN';
    left: 4px;
    color: $main-color;
}

#button-toggle .knobs:after
{
    content: 'PLAY';
    right: 20px;
    color: $secondary-color;
}

#button-toggle .knobs:before, #button-toggle .knobs:after
{
    width: 27px;
    height: 10px;
    padding: 16px 3px;
    z-index: 1;
}

#button-toggle .knobs span
{
    display: inline-block;
    z-index: 2;
}

#button-toggle .knobs span, #button-toggle .knobs span:before, #button-toggle .knobs span:after
{
    width: 65px;
    height: 30px;
    padding: 9px 6px;
}

#button-toggle .knobs span:before, #button-toggle .knobs span:after
{
    content: '';
    top: 0;
}

#button-toggle .knobs span:before
{
    left: -80px;
    background-color: $main-color;
}

#button-toggle .knobs span:after
{
    right: -70px;
    background-color: $secondary-color;
}

#button-toggle .checkbox:checked + .knobs span:before
{
    left:4px;
}

#button-toggle .checkbox:checked + .knobs span:after
{
    right: -154px;
}

#button-toggle .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}
